@if(behaviourObj) {
<div class="card">
  <div class="card-body shadow-sm text-center text-primary">
    @if(showForm) {
    <div class="text-start">
      <div class="form-group mb-3">
        <label class="form-label">First Name</label>
        <input class="form-control" type="text" [(ngModel)]="firstName" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Last Name</label>
        <input class="form-control" type="text" [(ngModel)]="lastName" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" [(ngModel)]="email" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Age</label>
        <input class="form-control" type="number" [(ngModel)]="age" />
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-primary w-50" (click)="onSubmit()">
          Save changes
        </button>
        <button class="btn btn-danger w-50" (click)="onToggle()">Cancel</button>
      </div>
    </div>
    } @else {
    <div>
      <p>{{ behaviourObj.firstName }}</p>
      <p>{{ behaviourObj.lastName }}</p>
      <p>{{ behaviourObj.email }}</p>
      <p>{{ behaviourObj.age }}</p>
      <div class="d-grid">
        <button class="btn btn-secondary" (click)="onToggle()">
          Edit Profile
        </button>
      </div>
    </div>
    }
  </div>
</div>
}
