<div class="container">
  <div class="col-md-4 mx-auto mt-4">
    <div class="card shadow-sm">
      <div class="card-header">
        <h3>Profile Details</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-center gap-3">
          <strong>First name:</strong>
          <p class="m-0">Sunday</p>
        </li>
        <li class="list-group-item d-flex align-items-center gap-3">
          <strong>Last name:</strong>
          <p class="m-0">Sunday</p>
        </li>
        <li class="list-group-item d-flex align-items-center gap-3">
          <strong>Email:</strong>
          <p class="m-0">Sunday</p>
        </li>
        <li class="list-group-item d-flex align-items-center gap-3">
          <strong>Phone:</strong>
          <p class="m-0">Sunday</p>
        </li>
        <li class="list-group-item d-flex align-items-center gap-3">
          <strong>Address:</strong>
          <p class="m-0">Sunday</p>
        </li>
        <li class="list-group-item d-flex align-items-center gap-3">
          <strong>Gender:</strong>
          <p class="m-0">Sunday</p>
        </li>
      </ul>
      <div class="card footer py-3 px-4">
        <div class="d-flex justify-content-between gap-3">
          <div class="btn btn-success w-100">Edit</div>
          <div class="btn btn-danger w-100">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
